.last-news
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000

  .one-last-news
    margin: 25px 0 25.5px 0
    background-color: rgba(49, 49, 49, 0.1)
    height: auto
    color: #ffffff
    border: 2px solid $color-green
    transition: all ease 0.3s

    &:hover
      -webkit-box-shadow: 0px 6px 14px 4px rgba(0,0,0,0.75)
      -moz-box-shadow: 0px 6px 14px 4px rgba(0,0,0,0.75)
      box-shadow: 0px 6px 14px 4px rgba(0,0,0,0.75)
      transition: all ease 0.3s

  .detail-other
    color: #000000
    font-size: 13px
    margin: 0 12px
    text-shadow: none

    i
      font-weight: bold

    .no-active
      margin: -5px 2px 0 2px

    .active
      background-color: $color-green
      border: 1px solid $color-silver
      color: #ffffff
      margin: -5px 2px 0 2px

    button
      padding: 3px 7px
      margin: -5px 0 0 0
    .btn-rate:hover
      background-color: $color-green
      border: 1px solid $color-silver
      color: #ffffff

  img.one-last-news-img
    height: 200px
    width: 200px
    margin: 10px
    float: left
    border: 2px solid #000000

  h4
    font-size: 17px
    text-align: center
    margin: 10px 10px 20px 10px
    padding: 0
    font-weight: bold
    white-space: nowrap
    overflow: hidden
    color: $color-green
    text-overflow: ellipsis

    &:hover
      color: $color-silver

    a:hover
      color: $color-silver

  .short-text
    font-size: 16px
    position: relative
    margin: 30px 0 0 0
    line-height: 16px

  a
    color: $color-green

  a .detail-news-button
    color: $color-green
    font-weight: bold
    position: relative
    top: 10px

  .detail-news-button
    text-align: center
    font-size: 15px
    background-color: $color-silver
    padding: 17px
    margin: 0 0 10px 0

  .detail-news-button:hover
    -webkit-box-shadow: 0px 6px 14px 4px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 6px 14px 4px rgba(0,0,0,0.75)
    box-shadow: 0px 6px 14px 4px rgba(0,0,0,0.75)
    text-decoration: none
    background-color: $color-silver-second
    color: $color-green

