<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{HTTP_HOST} ^www\.(.*)$
    RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

    RewriteEngine on
    RewriteCond %{HTTP_HOST} rap-time\.ru [NC]
    RewriteCond %{HTTP:X-Forwarded-Proto} ^http$
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
    RewriteRule ^index\.php$ https://rap-time.ru/ [R=301,L]

    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
    RewriteRule ^index\.php$ https://rap-time.ru/ [R=301,L]

    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /web\.config\ HTTP/
    RewriteRule ^web\.config https://rap-time.ru/ [R=301,L]

    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /mix-manifest\.json\ HTTP/
    RewriteRule ^mix-manifest\.json https://rap-time.ru/ [R=301,L]

    RewriteCond %{HTTPS_HOST} ^www\.rap-time\.ru$ [NC]
    RewriteRule ^(.*)$ https://rap-time.ru/$1 [R=301,L]

    RewriteCond %{HTTPS_HOST} (.*)
    RewriteCond %{REQUEST_URI} /$ [NC]
    RewriteRule ^(.*)(/)$ $1 [L,R=301]

</IfModule>
