@import "variables";
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.navbar-header{
  float: none;
}
.navbar-header button{
  margin: 5px 0;
  background-color: $color-green;
  border: 1px solid #000 !important;
}
.navbar-left,.navbar-right {
  float: none !important;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: none;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  background-color:rgba(0,0,0,.7);
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-collapse.collapse {
  display: none !important;
}
.navbar-nav {
  float: none!important;
  margin-top: 7.5px;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse.in{
  display:block !important;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}
.logo-in-menu{
  margin-top: -6px;
}
.artiste-popul-one img {
  text-align: center;
  margin: 0 auto;
  outline: none;
  height: 200px;
  width: 200px;
  border: 2px solid #000;
}
.navbar-default .navbar-nav > li > a{
  text-align: center;
  border: none;
}
.slick-next {
  position: absolute;
  right: -2px;
  top: 33%;
}
.slick-prev {
  position: absolute;
  left: -0px;
  top: 33%;
}
.artiste-popul-one span {
  width: 200px;
}
  .last-interview .one-last-interview h4,
  .last-article .one-last-article h4{
    height: 35px
  }
  .fixed .navbar-brand img {
    max-height: 30px;
    max-width: 100px;
  }
  .fixed .logo-in-menu{
    margin-top: 0;
  }
  .modal-login,
  .modal-forgot,
  .modal-register {
    top: 60px;
    z-index: 99999;
  }

  .artist-info-detail{
    float: right !important;
  }
  .artist-info-site{
    float: left !important;
    padding-top: 15px !important;
  }
  .detail-other-view{
    font-size: 12px !important;
  }
  .artist-info-social{
    float: right !important;
  }
  .artist-view{
    .col-md-12{
      width: 100% !important;
    }
  }
.full-content {
  img {
    max-height: 750px;
    max-width: 750px;
  }
  iframe {
    width: 560px;
    height: 315px;
  }
 }
  .center-text p{
    padding: 10px;
    text-align: center;

  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .wrapper{
    height: 50px;
  }
  .navbar-default{
    margin: 3px;
    padding: 0;
    font-size: 14px;
  }
  .navbar-brand img {
    max-height: 30px;
    max-width: 100px;
  }
  .logo-in-menu{
    margin: 0;
  }

  .lyrics-view-block {
    .lyrics-translate {
      border-left: none !important;
    }
  }
  .children{
    margin: 5px 0 5px 5px !important;
    padding: 5px 0 5px 5px !important;
  }
  .full-content {
    img {
      max-height: 600px;
      max-width: 600px;
    }
  }

  .slick-next {
    position: absolute;
    right: -2px !important;
    top: 33%;
  }
  .slick-prev {
    position: absolute;
    left: -0px !important;
    top: 33%;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .last-text a {
    font-size: 16px;
  }
  footer .footer-social-icon img {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    padding: 3px;
  }
  .modal-footer .btn + .btn {
    margin: 2px;
  }
  .artist-info-image {
    text-align: center;
  }
  .lyrics-one {
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    a {
      font-size: 15px !important;
    }
    .lyrics-title {
      text-align: center !important;
      padding: 0 0 10px 0 !important;
    }
    .button-detail {
      padding: 5px 3px !important;
      font-size: 14px !important;
      position: static !important;
    }
  }
  .news-one {
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    img {
      float: none !important;
      margin: 0 !important;
      padding: 0 !important;
      height: 200px !important;
      width: 200px !important;
    }
    a {
      font-size: 15px !important;
    }
    .news-title {
      text-align: center !important;
      padding: 0 0 10px 0 !important;
      display: block !important;
    }
    .button-detail {
      padding: 5px 3px !important;
      font-size: 14px !important;
      position: static !important;
    }
    .detail-other{
      position: static !important;
      padding: 10px !important;
      text-align: center !important;
      float: none !important;
      i {
        font-size: 11px !important;
      }
    }
  }
  .news-info-image {
    text-align: center;
  }
  .lyrics-text-detail {
    width: inherit !important;
  }
  .lyrics-view-block {

    .lyrics-video {
      iframe {
        width: 410px !important;
        height: 231px !important;
      }
    }
  }
  .full-content {
    img {
      max-height: 430px;
      max-width: 430px;
    }
    iframe {
      width: 410px !important;
      height: 231px !important;
    }
  }
}

@media only screen and (max-width: 550px) {
  .artists-list .col-xs-6 {
    width: 100% !important;
  }
  .profile-list  {
    .col-xs-6 {
      width: 100% !important;
    }
  }
  .breadcrumb li {
    font-size: 11px !important;
  }
  .breadcrumb li a {
    font-size: 11px !important;
  }
  .sort-block {
    font-size: 11px !important;
    padding: 5px !important;
    .sort-item {
      margin: 3px !important;
    }
  }
  .news-view {
    .detail-other {
      text-align: left !important;
      float: inherit !important;
      margin: -5px 0 !important;
    }
  }
  .button-detail{
    margin: 10px !important;
  }
  .artists-list {
    button {
      bottom: 45px !important;
    }
  }
  .artist-one {
    div {
      bottom: 70px !important;
      height: 70px !important;
    }

    a {
      font-size: 16px;
    }

  }
  .lyrics-view-block {

    .lyrics-video {
      iframe {
        width: 310px !important;
        height: 174px !important;
      }
    }
  }
  .profile-list {
    .last-active-title {
      font-size: 14px;
    }
    input[type=file] {
      font-size: 14px
    }
    .profile-form-row {
      text-align: center;
      img {
        max-height: 150px;
        max-width: 150px;
      }
    }
  }
  .comments {
    .comment-author {
      margin: 25px 8px !important;
    }
    .comment-meta {
      margin: 0px 0 0 65px !important;
    }
    img.avatar {
      height: 50px !important;
      width: 50px !important;
    }
    img.admin {
      left: 12px !important;
      height: 25px !important;
      width: 25px !important;
    }
  }
  .children{
    margin: 2px 0 2px 2px !important;
    padding: 2px 0 2px 2px !important;
  }
  .full-content {
    img {
      max-height: 350px;
      max-width: 350px;
    }
    iframe {
      width: 310px !important;
      height: 174px !important;
    }
  }
}

@media only screen and (max-width : 510px) {
  .popul-block h2 {
    font-size: 20px;
    padding: 12px !important;
  }
  .popul-block h3 {
    font-size: 18px;
    padding: 15px;
  }
  .last-text a {
    padding: 9px 5px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .last-text a .view {
    margin: 0px 5px ;
    font-size: 11px;
  }
  .center-text h1{
    font-size: 20px;
  }
  .center-text p{
    font-size: 15px;
  }
  footer ul li{
    font-size: 13px;
  }
  .sort-block {
    float: left !important;
    text-align: center !important;
    padding: 10px 5px !important;
    margin: 0 !important;
    clear: both !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.navbar-brand img {
  max-height: 24px;
  max-width: 80px;
}
.navbar-header button{
  margin: 5px 0;
  float: right;

  position: absolute;
  right: 10px;
  top: 4px;
  background-color: $color-green;
  border: 1px solid #000 !important;
}

.last-news {
  text-align: center;
}
.last-news img{
  float: none;
  margin: 0;
  padding: 0;
}
.last-news .short-text {
  margin: 0;
  padding: 10px 5px;
}
  footer ul li{
    font-size: 11px;
  }
  footer h5 {
    font-size: 12px;
  }
  .modal-content {
    max-height: 450px;
    overflow: scroll;
  }
  .modal-footer button {
    font-size: 13px;
    clear: both;
    padding: 6px 4px;
    margin: 2px;
  }
  .artists-list h1 {
    font-size: 25px;
  }
  .sort-block {
    .sort-item {
      display: inline-block;
      margin: 3px;
    }
  }

  .artist-info-site p a{
    font-size: 11px !important;
  }
  .artist-info-image img{
    height: 200px !important;
    width: 200px !important;
  }
  .artist-info-like{
    font-size: 11px !important;
    text-align: center !important;
    button{
      font-size: 11px !important;
      padding: 5px;
    }
    i{
      font-size: 12px !important;
    }
    .detail-other-view{
      font-size: 11px !important;
      float: none !important;
    }
    .detail-other-like{
      float: none !important;
    }
  }
  .news-info-image {
    img {
      height: 200px !important;
      width: 200px !important;
    }
  }

  .lyrics-view-block {

    .lyrics-video {
      iframe {
        width: 260px !important;
        height: 146px !important;
      }
    }
  }
  .profile-list {
    .last-active-title-lyrics {
      padding: 0 10px !important;
      font-size: 13px !important;
      display: block;
      text-align: center;
    }
    .detail-other-lyrics {
      position: static !important;
    }
  }
  .full-content {
    img {
      max-height: 260px;
      max-width: 260px;
    }
    iframe {
      width: 260px !important;
      height: 146px !important;
    }
  }
}
@media only screen and (max-width : 380px) {
  .detail-other{
    font-size: 10px !important;
  }
  .artists-list .detail-other{
    font-size: 14px !important;
  }
  .last-news img.one-last-news-img {
    text-align: center;
    float: none !important;
  }
  .lyrics-view-block {

    .lyrics-video {
      iframe {
        width: 200px !important;
        height: 113px !important;
      }
    }
  }
  .children{
    margin: 0 !important;
    padding: 0 !important;
  }
  .full-content {
    img {
      max-height: 200px;
      max-width: 200px;
    }
    iframe {
      width: 200px !important;
      height: 113px !important;
    }
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .detail-other{
    font-size: 9px !important;
  }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .artist-view-block{
    .col-lg-3{
      width: 23%
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 952px) {
  .center-text p{
    padding: 10px;
    text-align: center;
    height: 180px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .modal{
    left: 15px;
  }
  .full-content {
    img {
      max-height: 750px;
      max-width: 750px;
    }
    iframe {
      width: 560px;
      height: 315px;
    }
  }
}